<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="signup text-center">OnePlanet is happy to have you on board!</h3>
      <p class="text-center">Please complete the next 3 steps to register</p>
      <div class="row">
        <%= image_tag "one.svg", class: 'sign up icons first'%>
        <h4 class="signup-header">About you</h4>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="signup form-inputs">
        <%= f.input :first_name, required: true, label: false, placeholder: 'First name' %>
        <%= f.input :last_name, required: true, label: false, placeholder: 'Last name' %>
        <%= f.input :username, required: true, label: false, placeholder: 'Username' %>
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }, label: false, placeholder: 'email'%>
        <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" }, label: false, placeholder: 'Password' %>
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" },label: false, placeholder: 'Confirm your password' %>
        <%= f.input :address, required: true, label: false, placeholder: 'Address' %>
        <%= f.input :image, required: false, :label => "Your profile image"%>

        <%= f.hidden_field :greenpoint_score, value: params[:greenpoint_score] %>
        <%= f.hidden_field :planet_country, value: params[:planet_country] %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up",  class: "btn custom" %>
      </div>
      <% end %>


    </div>
  </div>
</div>
