<div class="container container-signup">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="signup text-center">OnePlanet is happy to have you on board!</h3>
      <div class="signup progress mb-3" style="width: 80%; margin: 0 auto;">
        <div class="progress-bar" role="progressbar" style="width: 33%; background-color: #46c190;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="row">
        <%= image_tag "one.svg", class: 'sign up icons first'%>
        <h4 class="signup-header">About you</h4>
      </div>


      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="signup form-signup">
        <%= f.input :first_name, required: true, label: false, placeholder: '*First name' %>
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }, label: false, placeholder: '*Email'%>
        <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" }, label: false, placeholder: '*Password' %>
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" },label: false, placeholder: '*Confirm your password' %>
        <%= f.input :address, required: true, label: false, placeholder: '*Address' %>
        <%= f.input :image, required: false, :label => "Your profile image"%>

        <%= f.hidden_field :greenpoint_score, value: params[:greenpoint_score] %>
        <%= f.hidden_field :planet_country, value: params[:planet_country] %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up",  class: "btn custom" %>
      </div>
      <% end %>


    </div>
  </div>
</div>
