<footer class="footer">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon  d-flex justify-content-between nav-brand text-center">
    <%= link_to dashboard_path, class: "navbar-brand" do %>
      <%= image_tag "nav-dashboard.png"%>
      <p class="nav-text">Dashboard</p>
    <% end %>
    <%= link_to my_challenges_path, class: "navbar-brand" do %>
      <%= image_tag "nav-challenges.png"%>
      <p class="nav-text">Challenges</p>
    <% end %>
    <%= link_to journey_path, class: "navbar-brand" do %>
      <%= image_tag "nav-community.png" %>
      <p class="nav-text">Community</p>
    <% end %>
  </div>
</footer>
