<div class="container container-quiz">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-3">

      <p class="title"> OnePlanet Quiz</p>
        <!-- How sustainable is your lifestyle? -->
      <!-- <p class="subtitle">Fill in the quiz below to find out how many Earths would be needed if everbody lived like the average person in the country you live in, and how well you are doing against that benchmark. For more info <%#= link_to 'click here', 'https://www.overshootday.org', target: '_blank' %>.</p> -->
      <!-- <p>How many planets does it take to support your country's lifestyle?</p> -->
      <!-- To select country, used https://github.com/stefanpenner/country_select -->
      <div class="form-quiz">
       <%= simple_form_for :quiz, url: compute_result_path do |f| %>

         <div class="country_bar">
         <%= f.label :country_code,  'Current location:', class: 'label-quiz label_question' %>
         <!-- Where are you currently living? -->
         <%= f.country_select(:country_code, class: 'country_field', required: true, prompt: "Select your country", priority_countries: ["IL", "FR", "BE", "DE", "US"]) %>
         </div>
         <br>

         <%= f.label :food, 'Weekly animal food consumption:', class: 'label_question'  %>
         <!-- How often do you consume animal-based products per week? -->
         <p class="text-example"> (e.g. beef, pork, chicken, fish, eggs, dairy)</p>
            <div class="question_buttons">
             <%= radio_button("quiz", "food", "20" ) %>
             <%= f.label :food_20 do %>
              <%= image_tag 'Q12_10.svg', class: 'image_tag' %>

             <% end %>
             <%= radio_button("quiz", "food", "10" ) %>
             <%= f.label :food_10 do %>
              <%= image_tag 'Q12_0.svg', class: 'image_tag' %>
             <% end %>
             <%= radio_button("quiz", "food", "0" ) %>
             <%= f.label :food_0 do %>
              <%= image_tag 'Q12_-10.svg', class: 'image_tag' %>
             <% end %>
            </div>

         <%= f.label :home, 'Home size:', class: 'label_question' %>
          <p class="text-example"> (i.e. medium: 70-120m<sup>2</sup>)</p>
         <!-- How big is your home? -->
          <div class="question_buttons">
           <%= radio_button("quiz", "home", "20" ) %>
           <%= f.label :home_20 do %>
            <%= image_tag 'Q2_10.svg', class: 'image_tag' %>
           <% end %>

           <%= radio_button("quiz", "home", "10" ) %>
           <%= f.label :home_10 do %>
            <%= image_tag 'Q2_0.svg', class: 'image_tag' %>
           <% end %>

           <%= radio_button("quiz", "home", "0" ) %>
           <%= f.label :home_0 do %>
            <%= image_tag 'Q2_-10.svg', class: 'image_tag' %>
           <% end %>
          </div>

         <%= f.label :mobility1, 'Yearly flight frequency:', class: 'label_question' %>
         <p class="text-example"> (i.e. occasionally: <2 long haul or <4 short haul)</p>
         <!-- How often do you fly on average each year? -->
          <div class="question_buttons">
           <%= radio_button("quiz", "mobility1", "20" ) %>
           <%= f.label :mobility1_20 do %>
            <%= image_tag 'Q3_10.svg', class: 'image_tag' %>
           <% end %>

           <%= radio_button("quiz", "mobility1", "10" ) %>
           <%= f.label :mobility1_10 do %>
            <%= image_tag 'Q32_0.svg', class: 'image_tag' %>
           <% end %>

           <%= radio_button("quiz", "mobility1", "0" ) %>
           <%= f.label :mobility1_0 do %>
            <%= image_tag 'Q32_-10.svg', class: 'image_tag' %>
           <% end %>
          </div>

         <%= f.label :mobility2, 'Main mode of transportation:', class: 'label_question' %>
         <!-- What is your main mode of transportation? -->
          <div class="question_buttons">
           <%= radio_button("quiz", "mobility2", "20" ) %>
           <%= f.label :mobility2_20 do %>
            <%= image_tag 'Q4_10.svg', class: 'image_tag' %>
           <% end %>

           <%= radio_button("quiz", "mobility2", "10" ) %>
           <%= f.label :mobility2_10 do %>
            <%= image_tag 'Q42_0.svg', class: 'image_tag' %>
           <% end %>

           <%= radio_button("quiz", "mobility2", "0" ) %>
           <%= f.label :mobility2_0 do %>
            <%= image_tag 'Q4_-10.svg', class: 'image_tag' %>
           <% end %>
          </div>

         <%= f.label :product, 'Purchase of locally sourced goods:', class: 'label_question' %>
         <!-- How often do you buy locally sourced products? >80%, ~50%, <20% <-->
         <p class="text-example"> (e.g. furniture made locally from local forest)</p>
          <div class="question_buttons">
           <%= radio_button("quiz", "product", "20" ) %>
           <%= f.label :product_20 do %>
            <%= image_tag 'Q5_10.svg', class: 'image_tag' %>
           <% end %>

           <%= radio_button("quiz", "product", "10" ) %>
           <%= f.label :product_10 do %>
            <%= image_tag 'Q5_0.svg', class: 'image_tag' %>
           <% end %>

           <%= radio_button("quiz", "product", "0" ) %>
           <%= f.label :product_0 do %>
            <%= image_tag 'Q5_-10.svg', class: 'image_tag' %>
           <% end %>
          </div>
          <!-- ðŸŒŠ ðŸ– ðŸŒž -->


         <br>
         <%= f.submit "Submit", class: "btn custom" %>
       <% end %>
       <br>
      </div>

    </div>
  </div>
</div>
<!-- Which country are you currently living in?  -->
