<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="text">
            <% if @result != nil %>
              <p class="text_center"> If we all lead the same lifestyle as people living in <span class="bold_text"><%= @country %></span> we would need approximatly  <span class="bold_text"> <br> <%=  @result %> Earths</span></p>
              <br>

              <div class="container_small">
                <%  @resulti.times do %>
                  <%= image_tag "logo-nocircles.svg", class: "little_logo" %>
                <%  end %>
                <% if @resultf != 0 %>
                  <%= image_tag "logo-half.svg", class: "little_logo" %>
                  <% (8 - @resulti).times do  %>
                    <%= image_tag "logo-transparent.svg", class: "little_logo" %>
                  <% end %>
                <% else %>
                  <% (9 - @resulti).times do  %>
                    <%= image_tag "logo-transparent.svg", class: "little_logo" %>
                  <% end %>
                <% end %>
                <p class="mb-4"></p>
              </div>

              <span> We estimate that your current lifestyle is </span>
              <% if @score < 0 %>
                <span> <span class="bold_text">less sustainable</span> compared to that of your home country...</span>
              <% elsif @score > 0 %>
                <span> <span class="bold_text">more sustainable</span> compared to that of your home country 🥳.</span>
              <% elsif @score = 0 %>
                <span> <span class="bold_text">matching</span> that of your home country. </span>
              <% end %>
            <% else %>
              <p> We are sorry, but there is no data avalable for <%= @country %> at the moment</p>
            <% end %>
            <p class="mt-5 mb-4 text_final">Wanna improve while having fun? Sign up! </p>
          </div>

          <%= link_to "Challenge Accepted", new_user_registration_path(greenpoint_score: @score, planet_country: @result), class: "btn custom "%>


    </div>
  </div>
</div>
