<div class="container container-result">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-3">
         <br>
          <div class="text">
            <% if @result != nil %>
              <!-- <span>Your current lifestyle is </span> -->
              <% if @score < 0 %>

                <p class="answer_text"> <p class="title">Oh no!</p><br>Your lifestyle is worse than <%= @country%>'s average of <span class="bold_text"><br><%= @result %> Earths</span>
                <button type="button" class="info-point" data-toggle="modal" data-target="#exampleModal">
                  <i class="fas fa-info-circle"></i>
                </button>
                </p>

              <% elsif @score > 0 %>
                <p class="answer_text"> <p class="title">Congrats🥳!</p><br>Your lifestyle is better than <%= @country%>'s average of <span class="bold_text"><br><%= @result %> Earths</span>
                <button type="button" class="info-point" data-toggle="modal" data-target="#exampleModal">
                  <i class="fas fa-info-circle"></i>
                </button>
                </p>

                <p class="text_center">You've earned yourself<br>
                  <%= image_tag "greenpoints.png", class: "greenp_logo" %>
                  <span class="bold_text"><%= @score %> greenpoints!</span></p>

              <% elsif @score = 0 %>

                <p class="answer_text"> <p class="title">There is room for improvement...</p><br>Your lifestyle matches <%= @country%>'s average of <span class="bold_text"><br><%= @result %> Earths</span>
                <button type="button" class="info-point" data-toggle="modal" data-target="#exampleModal">
                  <i class="fas fa-info-circle"></i>
                </button>
                </p>
              <% end %>

              <!-- If we all lead the same lifestyle as people living in we would need approximatl-->
              <br>

              <div class="container_small">
                <%  @resulti.times do %>
                  <%= image_tag "logo-nocircles.svg", class: "little_logo" %>
                <%  end %>
                <% if @resultf != 0 %>
                  <%= image_tag "logo-half.svg", class: "little_logo" %>
                  <% (8 - @resulti).times do  %>
                    <%= image_tag "logo-transparent.svg", class: "little_logo" %>
                  <% end %>
                <% else %>
                  <% (9 - @resulti).times do  %>
                    <%= image_tag "logo-transparent.svg", class: "little_logo" %>
                  <% end %>
                <% end %>
                <p class="mb-4"></p>
              </div>

              <!-- <p class="text_center">Average lifestyle in<br> -->
                <!-- <span class="bold_text"><%= @country %></span> requires<span class="bold_text"><br><%= @result %> Earths</span> -->
               <!--  <span data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-info-circle"></i></span> -->

              <!-- </p> -->
              <!-- Button trigger modal -->

             <!-- Tooltip boostrap + also check app/javascript/packs/application.js-->
             <!--  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Explain...">
                ?
              </button> -->

            <% else %>

              <% if @score < 0 %>
                <p class="answer_text"> <p class="title">Oh no!</p><br>Based on your answers we think you could reduce your lifestyle's footprint.</p>

              <% elsif @score > 0 %>
                <p class="answer_text"> <p class="title">Congrats🥳!</p><br>Your lifestyle's footprint is already low.</p>

                <p class="text_center">You've earned yourself<br>
                  <%= image_tag "greenpoints.png", class: "greenp_logo" %>
                  <span class="big_text"><%= @score %> greenpoints!</span></p>

              <% elsif @score = 0 %>
                <p class="answer_text"> <p class="title">There is room for improvement...</p><br>Your lifestyle's footprint could be reduced!</p>
              <% end %>

              <br>
              <p style="font-size:18px">We are sorry, there is no data available about the ecological footprint of <%= @country %> in terms of Earths at the moment.
              <button type="button" class="info-point" data-toggle="modal" data-target="#exampleModal">
                  <i class="fas fa-info-circle"></i>
                </button>
              </p>
            <% end %>

            <!-- <p class="mt-5 mb-4 text_final">You can do better! </p> -->
          </div>

          <%= link_to "Get Challenged!", new_user_registration_path(greenpoint_score: @score, planet_country: @result), class: "btn custom mt-4 mt-4"%>


    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ecological Footprint & Planet Equivalent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justify">
        Today, more than 80% of the world’s population lives in countries that are running ecological deficits, using more resources than what their ecosystems can renew. The country information we display here is coming from the Ecological Footprint Explorer of the Footprint network. <br>
        Every individual and country’s Ecological Footprint has a corresponding planet equivalent, or the number of Earths it would take to support humanity’s Footprint if everyone lived like that individual or residents of a given country. It is the ratio of an individual’s (or country’s per capita) Footprint to the per capita biological capacity available on Earth (1.6 gha in 2019). In 2019, the world average Ecological Footprint of 2.7 gha equals 1.75 planet equivalents.
      </div>
      <div class="modal-footer">
      <p>For even more info <%= link_to 'click here', 'https://www.overshootday.org', target: '_blank' %>.</p>
      </div>
    </div>
  </div>
</div>
