<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="text">
            <% if @result != nil %>
              <!-- <span>Your current lifestyle is </span> -->
              <% if @score < 0 %>
                <span> <span class="bold_text">Oh no...</span>you are worse than <%= @country%>'s average.</span>
              <% elsif @score > 0 %>
                <span class="bold_text">Congrats🥳!</span> <p>You're better than <%= @country%>'s average.</p>
                <p>You've earned yourself <%= @score %> greenpoints</p>
              <% elsif @score = 0 %>
                <span> <span class="bold_text">Room for improvement,</span>you match the average of <%= @country%></span>
              <% end %>

              <!-- If we all lead the same lifestyle as people living in we would need approximatl-->
              <br>

              <div class="container_small">
                <%  @resulti.times do %>
                  <%= image_tag "logo-nocircles.svg", class: "little_logo" %>
                <%  end %>
                <% if @resultf != 0 %>
                  <%= image_tag "logo-half.svg", class: "little_logo" %>
                  <% (8 - @resulti).times do  %>
                    <%= image_tag "logo-transparent.svg", class: "little_logo" %>
                  <% end %>
                <% else %>
                  <% (9 - @resulti).times do  %>
                    <%= image_tag "logo-transparent.svg", class: "little_logo" %>
                  <% end %>
                <% end %>
                <p class="mb-4"></p>
              </div>

              <p class="text_center">Average lifestyle in <span class="bold_text"><%= @country %></span> requires  <span class="bold_text"><%=  @result %> Earths</span></p>
            <% else %>
              <p> We are sorry, but there is no data avalable for <%= @country %> at the moment</p>
              <% if @score < 0 %>
                <span> <span class="bold_text">Oh no...</span>you are worse than <%= @country%>'s average.</span>
              <% elsif @score > 0 %>
                <span class="bold_text">Congrats🥳!</span> <p>You're better than <%= @country%>'s average.</p>
                <p>You've earned yourself <%= @score %> greenpoints</p>
              <% elsif @score = 0 %>
                <span> <span class="bold_text">There is room for improvement, </span>you match the average of <%= @country%></span>
              <% end %>
            <% end %>

            <!-- <p class="mt-5 mb-4 text_final">You can do better! </p> -->
          </div>

          <%= link_to "Get challenged!", new_user_registration_path(greenpoint_score: @score, planet_country: @result), class: "btn custom "%>


    </div>
  </div>
</div>
