<div class="dashboard-card">
  <h1 class="h1-reward">VIEW YOUR PROGRESS</h1>
   <%= image_tag "greenpoint-logo.svg", class: 'image_tag greenpoint-dashboard'%>
  <canvas id="lineChart"
      data-green="<%= @greenpoints_score.to_json %>"
      data-earned="<%= @earned_greens_arr.to_json %>"
      data-chall="<%= @challenges_score.to_json %>">
  </canvas>

  <div class="badge-overview d-flex">
    <% current_user.users_rewards.where(shown: true).each do |ur| %>
       <%= image_tag ur.category_reward.icon %>
    <% end %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'chart_dashboard' %>
<% end %>
