<div class="profile-header">
  <div class="thumbnail">
    <%= cl_image_tag current_user.image, class: "avatar-profile" %>
  </div>
    <h1 class="h1-profile-wm">Welcome <%= current_user.first_name %>!</h1>
    <p class="request-greens"> <%= image_tag "greenpoint-logo.svg", class: 'image_tag greenpoint-header-icon'%><%=@score %> Greenpoints</p>
    <% if current_user.money_level.nil? %>
      <%= link_to edit_user_path(current_user), class: "request-info" do %>
        <i class="fas fa-lightbulb ml-3"></i> Complete registration
      <% end %>
    <% elsif current_user.user_interests.empty? %>
    <%= link_to new_user_interest_path(current_user), class: "request-info" do%>
        <i class="fas fa-lightbulb ml-3"></i> Fill in your interests
      <% end %>
    <% end %>
  <!-- <div class="setting wheel" id="settingDropdown" data-toggle="dropdown" aria-haspopup=true aria-expanded= false %>
    <i class="fas fa-cog"></i>
  </div> -->
  <button type="button" class="setting wheel" data-toggle="dropdown" aria-haspopup=true aria-expanded= false>
    <i class="fas fa-cog"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <%= link_to "Edit Preferences", edit_user_path(current_user), class: "dropdown-item" %>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
    <%= link_to "About this App", about_path, class: "dropdown-item" %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>

</div>

<!-- <div class="Panel"> -->
<!-- <i class="fas fa-cog"></i> -->
