<%= render 'shared/navbar' %>

<%= render 'profile-header' %>
  <nav>
    <ul class="Tabs">
      <li class="Tabs__tab active Tab"><%= link_to "DASHBOARD", dashboard_path %></li>
      <li class="Tabs__tab Tab"><%= link_to "MY CHALLENGES", my_challenges_path %></li>
      <li class="Tabs__tab Tab"><%= link_to "JOURNEY", journey_path %></li>
      <li class="Tabs__presentation-slider" role="presentation"></li>
    </ul>
  </nav>

<%= render 'dashboard-board' %>

<div class="reward-card d-flex ">
  <div class="reward-icon text-center">
    <%= image_tag "gift.svg" %>
    <div class="earth-scale d-flex">
      <i class="fas fa-globe-americas"></i>
      <i class="fas fa-globe-americas"></i>
      <i class="fas fa-globe-americas"></i>
    </div>
  </div>
  <div class="reward-content">
    <h1 class="h1-reward">HARVESTING HOMIE</h1>
    <p class="p-reward">Complete 9 challenges of the home category</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 33%; background-color: #46c190;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div><span class="reward-progress">3 / 9</span>
    </div>
  </div>
</div>
