<%= render 'shared/navbar' %>

<%= render 'profile-header' %>
  <nav>
    <ul class="Tabs">
      <li class="Tabs__tab active Tab"><%= link_to "DASHBOARD", dashboard_path %></li>
      <li class="Tabs__tab Tab"><%= link_to "MY CHALLENGES", my_challenges_path %></li>
      <li class="Tabs__tab Tab"><%= link_to "JOURNEY", journey_path %></li>
      <li class="Tabs__presentation-slider" role="presentation"></li>
    </ul>
  </nav>

<%= render 'dashboard-board' %>

<!-- bagde expample 1 -->
<!-- <div class="challenges-scroll-dashboard">
  <div class="reward-card d-flex ">
    <div class="reward-icon text-center">
      <%#image_tag "gift.svg" %>
      <div class="earth-scale d-flex">
        <i class="fas fa-globe-americas"></i>
        <i class="fas fa-globe-americas"></i>
        <i class="fas fa-globe-americas"></i>
      </div>
    </div>
    <div class="reward-content">
      <h1 class="h1-reward">HARVESTING HOMIE</h1>
      <p class="p-reward">Complete 9 challenges of the home category</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 33%; background-color: #46c190;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div><span class="reward-progress">3 / 9</span>
      </div>
    </div>
  </div> -->

<!-- badge example 2 -->
<!--
  <div class="reward-card d-flex ">
    <div class="reward-icon text-center">
      <%# image_tag "gift.svg" %>
      <div class="earth-scale d-flex">
        <i class="fas fa-globe-americas"></i>
        <i class="fas fa-globe-americas"></i>
        <div class="empty-globe"></div>
      </div>
    </div>
    <div class="reward-content">
      <h1 class="h1-reward">HARVESTING HOMIE</h1>
      <p class="p-reward">Complete 9 challenges of the home category</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 33%; background-color: #46c190;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div><span class="reward-progress">3 / 9</span>
      </div>
    </div>
  </div>
 -->

  <% current_user.users_rewards.where(shown: true).each do |ur| %>
    <div class="reward-card d-flex ">
      <div class="reward-icon text-center">
        <%= image_tag ur.category_reward.icon %>
        <div class="earth-scale d-flex">
          <% (ur.category_reward.min_challenges / 3).times do %>
            <i style="color: <%= ur.category_reward.colour %>"class="fas fa-globe-americas"></i>
          <% end %>
          <% (3 - (ur.category_reward.min_challenges / 3)).times do %>
            <div class="empty-globe"></div>
          <% end %>
        </div>
      </div>
      <div class="reward-content">
        <h1 class="h1-reward" style="color: <%= ur.category_reward.colour %>"><%=  ur.category_reward.name %></h1>
        <p class="p-reward"><%=  ur.category_reward.description %> </p>
        <div class="progress">

          <div class="progress-bar" role="progressbar" style="width: <%= (ur.completed_challenges /  ur.category_reward.total) %>; background-color: <%= ur.category_reward.colour %>;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div><span class="reward-progress"><%= ur.completed_challenges %> / <%= ur.category_reward.total %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
