<%= render 'shared/navbar' %>

<%= render 'profile-header' %>

  <nav>
    <ul class="Tabs">
      <li class="Tabs__tab active Tab"><%= link_to "DASHBOARD", dashboard_path %></li>
      <li class="Tabs__tab Tab"><%= link_to "CHALLENGES", my_challenges_path %></li>
      <li class="Tabs__tab Tab"><%= link_to "JOURNEY", journey_path %></li>
      <li class="Tabs__presentation-slider" role="presentation"></li>
    </ul>
  </nav>
</div>
















<div class="row">
    <div class="col-6">
        <div class="category-card">
          <div>
            <%= image_tag "fashion.jpg", class: "category-card-image" %>
          </div>
          <div class="category-card-content">
            <!-- if statement & checkbox image -->
            <div class="category-card-title">
              <h4>Shopping</h4>
              <i class="fas fa-gift"></i>
              </div>
            </div>
          </div>
        </div>
    </div>


