<%= render 'shared/navbar' %>

<%= render 'profile-header' %>

  <nav>
    <ul class="Tabs">
      <li class="Tabs__tab Tab"><%= link_to "DASHBOARD", dashboard_path %></li>
      <li class="Tabs__tab Tab"><%= link_to "CHALLENGES", my_challenges_path %></li>
      <li class="Tabs__tab active Tab"><%= link_to "JOURNEY", journey_path %></li>
      <li class="Tabs__presentation-slider" role="presentation"></li>
    </ul>
  </nav>
</div>



 <div class="container">
  <div class="challenges-scroll-journey">
   <div class="row">
    <div class="col-11 m-2 ml-4">
         <div class="card-journey-connection mb-1 mt-1 start">
          <%= image_tag "logo-3nclouds.svg", class: "logo-journey-start" %>
        </div>
        <% current_user.challenges.each do |challenge| %>
        <div class="card-event-company-connection mb-1 mt-1">
        </div>
        <div class="card-journey">
          <div class="d-flex">
             <%# image_tag event.event_image, class: "avatar-large mr-2" %>

            <div class="card-journey-content">
              <p><span class="p-title"><%= challenge.name %></p></span>
              <p><span class="p-question">29. Aug 2019</p>
              <p><span class="p-greenpoints">
                <svg class="greenpoints" width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.9995 3.75C7.86326 3.75 4.49951 7.11498 4.49951 11.25C4.49951 15.3863 7.86326 18.75 11.9995 18.75C16.1358 18.75 19.4995 15.3863 19.4995 11.25C19.4995 7.11375 16.1358 3.75 11.9995 3.75Z" fill="white"/>
                <path d="M23.2108 29.1563L19.597 19.5225C21.8358 17.465 23.2495 14.5225 23.2495 11.25C23.2495 5.0475 18.2032 0 11.9995 0C5.79578 0 0.749512 5.04873 0.749512 11.25C0.749512 14.5238 2.16326 17.465 4.40201 19.5225L0.789531 29.155C0.699531 29.3963 0.764512 29.6675 0.955762 29.8387C1.07453 29.945 1.22324 30 1.37453 30C1.46951 30 1.56455 29.9787 1.65455 29.9337L6.32957 27.5963L9.77834 29.895C9.93584 30 10.1358 30.0263 10.3171 29.97C10.4996 29.9112 10.6446 29.7725 10.7096 29.595L12.0759 25.9538L13.2821 29.5725C13.3446 29.7575 13.4884 29.9025 13.6734 29.9663C13.8571 30.0288 14.0608 30.0038 14.2221 29.895L17.6709 27.5963L22.3459 29.9337C22.4346 29.9775 22.5296 30 22.6259 30C22.7771 30 22.9259 29.945 23.0447 29.84C23.2345 29.6675 23.3008 29.3975 23.2108 29.1563ZM7.18703 21.4388L7.12076 21.3725C7.14953 21.3862 7.17824 21.4 7.20701 21.4137C7.19951 21.42 7.19453 21.43 7.18703 21.4388ZM16.5082 20.1637L13.7307 21.09C13.167 21.1887 12.5907 21.25 11.9995 21.25C6.48572 21.25 1.99943 16.7638 1.99943 11.25C1.99943 5.73621 6.48578 1.24998 11.9995 1.24998C17.5132 1.24998 21.9995 5.73627 21.9995 11.25C21.9995 15.1425 19.7608 18.5125 16.5082 20.1637Z" fill="white"/>
                <path d="M12 5.16666C8.77996 5.16666 6.16663 7.77999 6.16663 11C6.16663 14.22 8.77996 16.8333 12 16.8333C15.22 16.8333 17.8333 14.22 17.8333 11C17.8333 7.77999 15.22 5.16666 12 5.16666ZM11.4166 15.6258C9.11246 15.34 7.33329 13.38 7.33329 11C7.33329 10.6383 7.37996 10.2942 7.45579 9.95582L10.25 12.75V13.3333C10.25 13.975 10.775 14.5 11.4166 14.5V15.6258ZM15.4416 14.1442C15.29 13.6717 14.8583 13.3333 14.3333 13.3333H13.75V11.5833C13.75 11.2625 13.4875 11 13.1666 11H9.66663V9.83332H10.8333C11.1541 9.83332 11.4166 9.57082 11.4166 9.24999V8.08332H12.5833C13.225 8.08332 13.75 7.55832 13.75 6.91666V6.67749C15.4591 7.37166 16.6666 9.04582 16.6666 11C16.6666 12.2133 16.2 13.3158 15.4416 14.1442Z" fill="#46C190"/>
                </svg>
              </span><%= challenge.greenpoint %></p>
            </div>
        </div>
      <!-- Would need a joined table to sort for date -->
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>




