<div class="d-flex justify-content-between challenge-levels-indicator-commited">
    <p class="challenge-levels-param">Commited
    <div class="d-flex justify-content-between challenge-levels-commited">
       <span class="commited-time"><%= @challenge.created_at.strftime('%F') %></span>
    </div>
   </p>
  </div>
  <h4 class="challenge-steps-title">Steps to completion</h4>
  <% @challenge.challenge_steps.each_with_index do |step, index|  %>
    <% unless step.content.nil? %>
      <div class="d-flex">
          <label class="si si-checkbox" for="<%= index %>">
            <input type="checkbox" class="checkbox-custom" value="" id="<%= index %>" >
            <span class="challenge-step-content si-label"><%=  step.content %></span>
          </label>
      </div>
    <% end %>
  <% end %>
  <br>
  <%= simple_form_for([@challenge, current_user.user_challenges.find_by(challenge: @challenge)], html: {id: "challenge-completed-sweet"}) do |f| %>
     <%= f.input :image, required: false, input_html: { hidden: true }, :label => "Upload Photo", class: "user_challenge_image" %>
     <%= f.submit "Challenge Completed", class: "btn custom my-3 complete-button", disabled: true %>

  <% end %>

  <h4 class="challenge-steps-title mt-4">Description</h4>
  <p class="challenge-description"><%= @challenge.content %></p>

<%= javascript_pack_tag 'check_boxes_completed' %>


<!--
  we need to get the picture sent over to the controller
  problem: there isnt really a form

  1. create a form
  2. have a file upload input, and a submit btn
  3. (make sure the disable script works still)

 -->


















