<%= @challenge.name %>
<%= @challenge.content %>
<%= @challenge.category.name %>
<%= @challenge.greenpoint %>

<div class="challenge-show-banner" style="background-image: url(<%= @challenge.image %>)">

</div>
