<!-- <p>Test</p> -->

<%= render 'shared/navbar' %>

<div class="d-flex align-items-center justify-content-center header-post mt-4">
    <h1 class="title-post">Your Community</h1>
</div>

<div class="container-post-bar">
  <div class="flex-item">
  <%= cl_image_tag current_user.image, class: "avatar-post-user" %>
  </div>
  <div class="flex-item">
    <button type="button" class="input-field-post" data-toggle="modal" data-target="#exampleModal">
    What would you like to share?</button>
    <%#= link_to "What's on your mind?", new_post_path, class: "input-field-post"%>
  </div>
</div>

<div>
  <%= form_tag posts_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control search-bar",
      placeholder: "Filter by challenge title"
    %>
    <%= submit_tag "Search", class: "btn-custom" %>
  <% end %>
</div>
<!-- <div class="d-flex m-2 ml-3">
  <div class="post-tag">Challenge</div>
  <div class="post-tag">General</div>
  <div class="post-tag">Question</div>
</div>
 -->
<div class="post-scroll container">

<% @posts.each do |post| %>

<div class="card-post">

  <div class="row justify-content-between">
    <div class="col-6 row">
      <div class="col-4">
        <%= cl_image_tag post.user.image, class: "avatar-post" %>
      </div>
      <div class="post-header col-8">
        <p class="post-user-name"><%=  post.user.first_name %></p>
        <p class="post-created"><%=  post.created_at.strftime("%d/%m/%Y") %></p>
      </div>
    </div>

    <div class=" col-3 p-0">
      <!-- place tag later -->
      <% if post.challenge.nil? %>
        <p class="post-user-tag">General</p>
      <% else %>
        <p class="post-user-tag">Challenge</p>
      <% end %>
      <div class="post-actions row m-0">
        <div class="post-small-icons" data-post-id="<%= post.id %>">
          <%= render "likes", post: post %>

        </div>
        <div class="post-small-icons">
          <i class="fas fa-comment"></i> <span class="mr-1"><%= post.answers.count %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="post-body col-12">
    <div>
      <% if !post.challenge.nil? %>
        <p class="card-post-title-chall"><%= post.title %></p>
        <%= link_to challenge_path(post.challenge), class: "post-challenge" do  %>
          <p><%= post.challenge.name %>
        <% end %>
      <% else %>
        <p class="card-post-title"><%= post.title %></p>
      <% end %>
    </div>
    <div>
      <p class="card-post-content"><%= post.content %></p>
    </div>
  </div>

  <div class="card-reactions row justify-content-around">
    <div class="post-reaction likes">
      <%= simple_form_for([post, @like], remote: true) do |f| %>
        <%= button_tag(type: "submit", class: "new_like_submit") do %>
          <i class="fas fa-heart" style="color: #338d69;" data-post-id="<%= post.id %>">
          </i>
        <% end %>
      <% end %>

    </div>
    <div class="post-reaction">
      <%= link_to post_path(post) do %>
        <i class="fas fa-comment"></i>
      <% end %>
    </div>
  </div>

</div>

<% end %>

</div>

<!-- Modal -->
<div class="modal fade modalcusto" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= cl_image_tag current_user.image, class: "avatar-post mr-3", alt: "avatar" %>
        <h5 class="modal-title" id="exampleModalLabel">Share your thoughts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justify">
        <%= simple_form_for [@user, @post] do |f| %>
        <%= f.input :challenge_id, collection: current_user.challenges %>
        <%= f.input :title %>
        <%= f.input :content, class: "content-box" %>

      </div>
      <div class="modal-footer">
        <%= f.submit "Create Post", class: "btn custom mt-1 mb-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
