<%= render 'shared/navbar' %>
<div class="profile-header">
  <div class="thumbnail">
    <%= cl_image_tag current_user.image, class: "avatar-profile" %>
  </div>
    <h1 class="h1-profile-wm">Create Post</h1>
</div>



<div class="container container-home">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-3">

      <%= simple_form_for [@user, @post] do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.submit "Create Post", class: "btn custom mt-5" %>
      <% end %>
</div>
</div>
</div>
