<%= render 'shared/navbar' %>
<div class="post-show-header d-flex">
  <%= cl_image_tag @post.user.image, class: "avatar-post-show" %>
  <p class="post-show-user-name"><%= @post.user.first_name %>'s post <i class="fas fa-comment ml-2"></i></p>
</div>

  <div class="post-show-scroll">
    <div class="container">
      <div class="post-show-content">
        <p class="card-post-title show"><%= @post.title %></p>
        <p class="card-post-content show"><%= @post.content %></p>
      </div>
    <h2 class="post-comment-count">
      <%= pluralize @post.answers.size, "Comment" %>
    </h2>
    <div id="answers">
      <% if @post.answers.blank? %>
        <p class="show-be-first">Be the first to reply to <%= @post.user.first_name %>.</p>
      <% else %>
        <% @post.answers.each do |answer| %>
          <%= render 'answers/show', answer: answer %>
        <% end %>
      <% end %>
    </div>

    <%= simple_form_for [@post, @answer] do |f| %>
      <%= f.input :content, label: "Your Comment" %>
      <%= f.submit "Reply", class: "btn custom mt-3" %>
    <% end %>
    </div>
  </div>
 <div class="back-button-posts">
     <%= link_to posts_path do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
  </div>





